html{
    background-color: grey;
}
.one {
    background-color: red;
    border: 30px black;
    margin: 50px;
    padding: 50px;
    text-align: center;
}
.two {
    background-color: magenta;
    border: 5px green;
    box-sizing: border-box;

}